@page "/companies/{Ticker}"
@using Microsoft.AspNetCore.Authorization;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using Syncfusion.Blazor.Buttons;
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@attribute [Authorize]

@if(OhlcDataList.Count > 0)
{
    <div class="main-info">
        <img src="@CompMainData.Logo" alt="Logo" />
        <h2>Ticker: @CompMainData.Ticker</h2>
        <h3>Full name: @CompMainData.Name</h3>
        <h3>City: @CompMainData.City</h3>
        <SfButton @onclick="AddToWatchlist">Add To Watchlist</SfButton>
        <SfButton @onclick="NavigateToWatchlist">Watchlist</SfButton>
        <SfButton @onclick="@(() => ChangeChartDates(3))">3 months ago</SfButton>
        <SfButton @onclick="@(() => ChangeChartDates(2))">2 months ago</SfButton>
        <SfButton @onclick="@(() => ChangeChartDates(1))">1 month ago</SfButton>
    </div>

    <SfStockChart @ref="Chart">
        <StockChartSeriesCollection>
            <StockChartSeries Type="@ChartSeriesType.Candle" DataSource="@OhlcDataList" XName="Date" 
                Open="O" High="H" Low="L" Close="C" Volume="VW"></StockChartSeries>
        </StockChartSeriesCollection>
    </SfStockChart>

    <div class="daily-data">
        <h3>Date: @CompDailyPrices.From</h3>
        <h3>Open: @CompDailyPrices.Open</h3>
        <h3>High: @CompDailyPrices.High</h3>
        <h3>Low: @CompDailyPrices.Low</h3>
        <h3>Close: @CompDailyPrices.Close</h3>
        <h3>Volume: @CompDailyPrices.Volume</h3>
        <h3>AfterHours: @CompDailyPrices.AfterHours</h3>
        <h3>PreMarket: @CompDailyPrices.PreMarket</h3>
    </div>
}
else
{
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" />
}

@code {
    [Parameter]
    public string Ticker { get; set; } = null!;
    public CompanyMainDataDto CompMainData { get; set; }
    public DailyPricesDto CompDailyPrices { get; set; }
    public List<OhlcData> OhlcDataList { get; set;  }
    public DateTime CurrentDate { get; set; } //Date of the day before - API limitation
    public string StringCurrentDate { get; set; } = null!;

    public DateTime DefaultTimeFrom { get; set; }
    public SfStockChart? Chart { get; set; }

    protected async override Task OnInitializedAsync()
    {
        CurrentDate = DateTime.Now.AddDays(-2);
        StringCurrentDate = CurrentDate.ToString("yyyy-MM-dd");
        OhlcDataList = new List<OhlcData>();
        CompMainData = new CompanyMainDataDto();
        CompDailyPrices = new DailyPricesDto();

        DefaultTimeFrom = DateTime.Now.AddMonths(-2);

        await GetOhlcData(DefaultTimeFrom, CurrentDate);
        await GetMainData();        
        await GetDailyPrices();

    }

    public async Task GetMainData()
    {
        var result = await httpClient.GetAsync($"https://localhost:7194/api/stocks/stockInfo/{Ticker}");
        var responseBody = await result.Content.ReadAsStringAsync();
        CompMainData = JsonConvert.DeserializeObject<CompanyMainDataDto>(responseBody);
    }

    public async void ChangeChartDates(int monthsBack)
    {
        await GetOhlcData(DefaultTimeFrom.AddMonths(-monthsBack), CurrentDate.AddMonths(-monthsBack));
        Chart.Refresh();
    }

    public async Task GetOhlcData(DateTime from, DateTime to)
    {
        string stringFromDate = from.ToString("yyyy-MM-dd");
        string stringToDate = to.ToString("yyyy-MM-dd");
        var result = await httpClient.GetAsync($"https://localhost:7194/api/stocks/OhlcData/{Ticker}/{stringFromDate}/{stringToDate}");
        var responseBody = await result.Content.ReadAsStringAsync();
        OhlcDataList = JsonConvert.DeserializeObject<List<OhlcData>>(responseBody);
    }

    public async Task GetDailyPrices()
    {
        var result = await httpClient.GetAsync($"https://localhost:7194/api/stocks/DailyPrices/{Ticker}/{StringCurrentDate}");
        var responseBody = await result.Content.ReadAsStringAsync();
        CompDailyPrices = JsonConvert.DeserializeObject<DailyPricesDto>(responseBody);
    }

    public async Task AddToWatchlist()
    {
        WatchlistItem newItem = new WatchlistItem()
        {
            UserLogin = "user",
            CompanyTicker = Ticker
        };

        await httpClient.PostAsJsonAsync("https://localhost:7194/api/watchlist/addToWatchlist", newItem);
        //await NavigateToWatchlist();
    }

    public async Task NavigateToWatchlist()
    {
        navigationManager.NavigateTo("/companies/watchlist");
    }

}
